/* themes */
/* wool scarf */
$wool_wine:#A11822;
$wool_wine_light:(#A11822,0.5);
$wool_dark:#2E1D16;
$wool_pink:#FF2978;
$wool_chocolate:#603820;
$wool_red:#E11C0B;

/* opal traffic green theme [in-order] #BDECB6*/
$green_opal:#015D52;
$green_traffic:#308446;
$green_pale:#88AC76;
$green_pastel:#F0FFED;
$green_light:#84C3BE;

/* blue theme */
$blue_pastel:#84C3BE;
$blue_pure:#55A691;
$blue_dark:#1F91AC;

/* pink */
$pink_pastel:#FC9D9A;
$pink_dark:#FE4365;

/* headache theme */
$headache_ash:#655643;
$headache_yellow:#E6AC27;
$headache_orange:#BF4D28;
$headache_cyan:#80BCA3;
$headache_invisible:#F6F7BD;
/*F3D9C2*/
/* basics */
$basics_black:#000;
$basics_white:#fff;
$ascent_pure:$green_traffic;
$ascent_pastel:#A78E6E;
$ascent_dark:$green_opal;