/* themes */
/* wool scarf */
/* opal traffic green theme [in-order] #BDECB6*/
/* blue theme */
/* pink */
/* headache theme */
/*F3D9C2*/
/* basics */
.row {
  margin-bottom: 15px;
  margin-top: 15px; }

.card-setting {
  background-color: #308446;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  margin: 5px; }

.temperature-card {
  min-height: 261px; }

.yellow-card {
  background-color: #E6AC27; }

.orange-card {
  background-color: #BF4D28; }

.ash-card {
  background-color: #655643; }

.invisible-card {
  background-color: #F6F7BD;
  color: #BF4D28; }

.cyan-card {
  background-color: #80BCA3; }

.c3-chart-arc .c3-gauge-value {
  fill: #BF4D28;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  margin-top: -15px;
  font-weight: 700; }

.location-setting {
  background-color: #fff;
  color: #015D52; }

input[type=text]#locationTextBox {
  color: #000;
  max-width: 650px; }

.search-box {
  padding-right: 0; }

.search-button {
  margin-left: 0; }

.ui-autocomplete {
  list-style-type: none;
  list-style-position: initial;
  padding: 5px 5px 5px 16px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  position: relative;
  top: 0px;
  margin-left: 58px;
  max-width: 690px;
  background-color: #444;
  color: white;
  padding: 0px;
  margin-bottom: 5px;
  margin-right: 50px;
  display: none;
  max-height: 200px;
  overflow-y: auto; }

.ui-menu-item {
  padding-left: 5px; }

.ui-state-focus {
  background-color: #015D52;
  color: #A78E6E; }

/* general */
#temperatureMain {
  display: block;
  min-height: 250px;
  background-color: #308446;
  background: url("../images/clearTimeline.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#sunset, #sunrise {
  font-size: 25px;
  display: block;
  min-height: 250px;
  color: #fff;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #171717;
  background-color: #80BCA3;
  padding-top: 15px; }

#sunrise h2, #sunset h2 {
  font-size: 48px; }

#sunset {
  background: url("../images/sunset.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#sunrise {
  background: url("../images/sunrise.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#minMax h2 {
  font-size: 50px;
  padding-top: 20px;
  margin-left: 10px; }

#customGraphics {
  display: block;
  min-height: 250px; }

#customGraphics > img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wind-direction > img {
  height: 70px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.city-name, .temperature-value {
  font-size: 55px;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #171717; }

.temperature-unit {
  font-size: 30px;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  margin: auto 5px auto 5px; }

.city-country {
  text-shadow: 5px 5px 7px #171717; }

.weather-description {
  text-shadow: 5px 5px 7px #171717; }

/* uv cards*/
#uvMain {
  display: block;
  min-height: 250px;
  padding-top: 10px;
  background-color: #BF4D28;
  background: url("../images/uv.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

.uv-cards {
  min-height: 287px;
  padding-top: 36px; }

.uv-main-cards {
  min-height: 250px;
  padding-top: 40px; }

.uv-index {
  font-size: 140px;
  margin-right: 20px; }

/* settings */
.settings-card {
  min-height: 140px; }

.current-location-card {
  min-height: 250px;
  padding-top: 25px;
  padding-bottom: 50px; }

.current-location-card h2 {
  font-size: 60px; }

.current-location {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px; }

.location-btn {
  background-color: transparent;
  border-radius: 4px;
  margin: 5px 5px 5px 0px;
  outline: 0;
  /* No focus outline */
  padding: 5px 10px 5px 10px;
  border: 1px solid #655643;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 5px 0 #2F231F;
  /* xOffset yOffset blur */
  transition: all .1s linear;
  color: white; }

.location-btn:active {
  box-shadow: 0 2px 0 #2F231F;
  /* xOffset yOffset blur */
  transform: translateY(3px);
  /* move down */
  background-color: #7A664D;
  color: white;
  text-decoration: none; }

.location-btn:hover, .location-btn:visited {
  color: white;
  text-decoration: none; }

.active-button {
  background-color: #655643; }

/*# sourceMappingURL=cards.css.map */
