/* themes */
/* wool scarf */
/* opal traffic green theme [in-order] #BDECB6*/
/* blue theme */
/* pink */
/* headache theme */
/*F3D9C2*/
/* basics */
.row {
  margin-bottom: 15px;
  margin-top: 15px; }

.card-setting {
  background-color: #308446;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  margin: 5px; }

.settings-card {
  min-height: 140px; }

.temperature-card {
  min-height: 261px; }

.yellow-card {
  background-color: #E6AC27; }

.orange-card {
  background-color: #BF4D28; }

.ash-card {
  background-color: #655643; }

.invisible-card {
  background-color: #F6F7BD;
  color: #BF4D28; }

.cyan-card {
  background-color: #80BCA3; }

.c3-chart-arc .c3-gauge-value {
  fill: #BF4D28;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  margin-top: -15px;
  font-weight: 700; }

.location-setting {
  background-color: #fff;
  color: #015D52; }

input[type=text]#locationTextBox {
  color: #000;
  max-width: 650px; }

.search-box {
  padding-right: 0; }

.search-button {
  margin-left: 0; }

.ui-autocomplete {
  list-style-type: none;
  list-style-position: initial;
  padding: 5px 5px 5px 16px;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  position: relative;
  top: 0px;
  margin-left: 58px;
  max-width: 690px;
  background-color: #444;
  color: white;
  padding: 0px;
  margin-bottom: 5px;
  margin-right: 50px;
  display: none;
  max-height: 200px;
  overflow-y: auto; }

.ui-menu-item {
  padding-left: 5px; }

.ui-state-focus {
  background-color: #015D52;
  color: #A78E6E; }

/* general */
#temperatureMain {
  display: block;
  min-height: 250px;
  background-color: #308446;
  background: url("../images/clearTimeline.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#sunset {
  display: block;
  min-height: 250px;
  color: #fff;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #171717;
  background-color: #80BCA3;
  padding: 15px 1px 15px 15px;
  background: url("../images/sunset.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#sunrise {
  display: block;
  min-height: 250px;
  color: #fff;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #171717;
  background-color: #E6AC27;
  padding: 15px 1px 15px 15px;
  background: url("../images/sunrise.jpe") no-repeat scroll center center rgba(134, 134, 134, 0.7); }

#customGraphics {
  display: block;
  min-height: 250px; }

#customGraphics > img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.wind-direction > img {
  height: 70px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px; }

.city-name, .temperature-value {
  font-size: 55px;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #171717; }

.temperature-unit {
  font-size: 30px;
  font-family: 'PassionOne',Arial, Helvetica, sans-serif;
  margin: auto 5px auto 5px; }

.city-country {
  text-shadow: 5px 5px 7px #171717; }

.weather-description {
  text-shadow: 5px 5px 7px #171717; }

/*# sourceMappingURL=cards.css.map */
